.menu {
	background-color: var(--col-acnt1-bg);
	color: var(--col-acnt1-txt);

	height: var(--navbar-height);
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 10px 10px 10px 20px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	width: 100%;

	button.sign_in {
		margin-left: auto;
	}
	.link_container {
		position: relative;
		.links {
			display: flex;
			gap: 15px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			user-select: none;
			.text {
				cursor: pointer;
				transition: transform 0.2s ease, text-shadow 0.2s ease, filter 0.1s ease;
				&:hover,
				&:focus {
					transform: translate(-1px, -1px);
					text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
				}
				&:active {
					filter: brightness(95%);
					transform: translate(0px, 0px);
				}
			}
		}
		.link_underline {
			position: absolute;
			height: 3px;
			transform: translateY(2px);
			background-color: var(--col-acnt1-txt);
			transition: width 0.3s ease, left 0.3s ease;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		}
	}
}
.greeting_menu_container {
	padding: 8px 10px 5px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--col-acnt1-bg);
	justify-content: space-between;
	align-self: flex-start;
	border-radius: 5px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	user-select: none;

	.greeting_container {
		display: flex;
		align-items: center;
		gap: 20px;
		cursor: pointer;
		&:active {
			filter: brightness(95%);
		}
		.menu_icon_container {
			align-items: center;
			display: flex;
			flex-direction: column;
			transition: scale 0.2s ease;
			height: 25px;
			width: 25px;
			.hamburger {
				width: 25px;
				height: 25px;
				overflow: hidden;
				transition: height 0.5s ease;
			}
			.exit {
				width: 25px;
				height: 0px;
				overflow: hidden;
				transition: height 0.5s ease;
			}
			svg {
				filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.3));
				height: 25px;
				width: 25px;
			}
		}
		&:hover {
			.menu_icon_container {
				scale: 110%;
			}
		}
	}
	&.expanded {
		position: absolute;
		height: auto;
		right: 30px;
		background-color: var(--col-acnt1-bg2);
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		.menu_icon_container {
			.hamburger {
				height: 0px !important;
			}
			.exit {
				height: 25px !important;
			}
		}
	}

	.menu_content {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 25px;
		padding-bottom: 3px;
		font-weight: 500;
	}
}
